/* ================= GLOBAL ================= */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #ececec;
}

button {
    padding: 10px;
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #555;
}


/* ================= HOME PAGE ================= */

.container {
    width: 520px;
    margin: 60px auto;
    background: #ffffff;
    padding: 35px 40px;
    border: 1px solid #bfbfbf;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.form-group {
    margin-bottom: 18px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 14px;
}

input, select {
    width: 100%;
    padding: 7px;
    font-size: 14px;
    border: 1px solid #999;
    outline: none;
}


/* ================= GAME PAGE ================= */

.game-container {
    width: 900px;
    margin: auto;
    background: white;
    padding: 20px;
}

/* Top bar */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timer-box {
    background: #ffd9d9;
    padding: 10px 20px;
    border: 1px solid black;
}

.exit-btn {
    padding: 8px 15px;
}

/* Selected numbers */
#selectedNumbers {
    border: 1px solid black;
    min-height: 40px;
    padding: 10px;
    margin-top: 15px;
}

/* Game Area */
.game-area {
    margin-top: 20px;
    height: 350px;
    border: 1px solid black;
    position: relative;
}

/* Number Circles */
.number {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #87ceeb;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    transition: 0.3s;
}

.correct {
    background: #7cff7c;
}

.wrong {
    background: #ff6b6b;
}


/* ================= RESULT PAGE ================= */

.result-container {
    width: 800px;
    margin: 40px auto;
    background: white;
    padding: 25px;
    border: 1px solid black;
}

.home-btn {
  margin-top: 15px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.section {
    margin-bottom: 15px;
}

.label {
    font-weight: bold;
}

.box {
    border: 1px solid black;
    padding: 8px;
    margin-top: 5px;
    min-height: 30px;
}

.score-box {
    font-size: 20px;
    font-weight: bold;
    color: green;
}