body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Segoe UI', Arial, sans-serif;
    background: #ececec;
    
}

button {
    border-radius: 50px;
    padding: 10px 20px;
    background:#333;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;
}

button:hover {
    background: #555;
}

/* Home Page */

.container {
    width: 520px;
    margin: 60px auto;
    background: #ffffff;
    padding: 35px 40px;
    border: 1px solid #bfbfbf;
    border-radius: 30px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

h1 {
    text-align: center;
    font-size: 26px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.form-group {
    margin-bottom: 18px;
}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: 600;
    font-size: 14px;
}

input, select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #999;
    outline: none;
    border-radius: 50px; 
    box-sizing: border-box;
}

/*Game Page */

.game-container {
    width: 900px;
    margin: 40px auto;
    background: white;
    padding: 25px;
    border-radius: 30px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timer-box {
    background: #ffd9d9;
    padding: 10px 20px;
    border-radius: 50px;
    border: 1px solid #ddd;
    font-weight: 600;
}

.exit-btn {
    padding: 8px 18px;
}

#selectedNumbers {
    border: 1px solid #ddd;
    min-height: 40px;
    padding: 10px;
    margin-top: 15px;
    border-radius: 20px;
}

.game-area {
    margin-top: 20px;
    height: 350px;
    border: 1px solid #ddd;
    position: relative;
    border-radius: 25px;
}

#numbersContainer {
    position: relative;
    border: 1px solid #ccc;
    margin: 20px auto;
    min-height: 300px;
}

.number {
  width: 50px;     
  height: 50px;
  border-radius: 50%;
  background-color: #3498db;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  font-weight: bold;

  overflow: hidden;     
  text-overflow: ellipsis; 
  white-space: nowrap;  
  font-size: 12px;      
  padding: 2px;        
}
.number.correct {
    background-color: green;
}

.number.wrong {
    background-color: red;
}
/* Result Page */

.result-container {
    width: 800px;
    margin: 40px auto;
    background: white;
    padding: 25px;
    border-radius: 30px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.home-btn {
  margin-top: 15px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.section {
    margin-bottom: 15px;
}

.label {
    font-weight: bold;
}

.box {
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 5px;
    min-height: 30px;
    border-radius: 15px;
}

.score-box {
    font-size: 20px;
    font-weight: bold;
    color: green;
}