body {
  font-family: Arial;
  background: #f2f2f2;
  text-align: center;
}

.container {
  margin-top: 80px;
}

.box {
  background: white;
  padding: 20px;
  width: 400px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

button {
  padding: 8px 20px;
  font-size: 16px;
  cursor: pointer;
}

.number-btn {
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 50%;
  border: none;
  background: #3498db;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.correct {
  background: green !important;
}

.wrong {
  background: red !important;
}
